/* Mobile First */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial;
    box-sizing: border-box;
}

.alert-info {
    width: calc(100% - 6px);
    margin: .5em auto;
    background-color: #cbffff;
    border: 3px solid lightgray;
    /*flex-basis: 100%;*/
}

.alert-info > a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    padding: 1em;
}
 div.alert-info {
     margin: .5em auto;
 }

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: auto;
    padding: 0;
}

li {
    width: 100%;
    background-color: lightgray;
    margin: .5em auto;
    padding: 1em 0;
    text-align: center;
}

img {
    width: 100%;
    margin: .5em auto;
}

.sub-section {
    font-style: italic;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

i {
    color: black;
}

h1 {
    margin: 0 auto .5em auto;
    text-align: center;
}

div i:hover {
    color: orangered;
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .alert-info {
        display: none;
    }
    h1 {
        margin-right: auto;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: .2em;
        /*flex-basis: 50%;*/
    }
    .header-img{
        display: flex;
        flex-basis: 100%;
    }
    img {
        width: 100%;
        /*flex-basis: 100%;*/
    }
    ul {
        display: flex;
        flex-direction: row;
        /*flex-basis: 50%;*/
    }
    li {
        background: none;
        margin: .5em;
        /*flex-basis: 25%;*/
    }
    .main {
        margin: 0 auto;
        flex-basis: 66%;
    }
    .sub-section {
        margin: 0 auto;
        flex-basis: 33%;
    }

    footer {
        width: 100%;
    }

    footer > p {
        margin-right: auto;
        flex-basis: 50%;
    }

    #social-media-links {
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        flex-basis: 50%;
    }

    #social-media-links > a {
        margin: .5em;
    }

}