/* Mobile First */
body {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    justify-content: center;
    font-family: Arial;
}

.alert-info {
    width: 100%;
    margin: auto;
    background-color: #cbffff;
    border: 3px solid lightgray;
    /*flex-basis: 100%;*/
}

.alert-info > a {
    text-decoration: none;
    color: black;
}

div {

}

i {
    color: black;
}

div i:hover {
    color: orangered;
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    body {

    }
}